.error-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
}

.error-state h2{
    font-weight: 600;
    color: #222;
}

.error-state p{
    color: #EAE0C8;
    font-size: 1.4rem;
    margin: 5px;
}

.error-state img{
    width: 350px;
    opacity: 0.9; 
}