<div class="header-izquierda">
    <div class="logo">
        <i routerLink="" class="pi pi-book logo"></i>
    </div>
    <div class="seccion-titulo">
        <i routerLink="">Libsys</i>
        <p>Tu biblioteca, siempre bajo control y bien organizada.</p>
    </div>
</div>

<nav class="header-nav">
    <button routerLink="libro" class="nav-btn">Libros</button>
    <button routerLink="autor" class="nav-btn">Autores</button>
    <button routerLink="editorial" class="nav-btn">Editoriales</button>
    <button routerLink="genero" class="nav-btn">Géneros</button>
</nav>
