.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
    animation: myAnim 2s ease 0s 1 normal none;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.empty-state h2{
    font-weight: 600;
    color: #222;
}

.empty-state p{
    color: #EAE0C8;
    font-size: 1.4rem;
    margin: 5px;
}

.empty-state img{
    width: 350px;
    opacity: 0.9; 
}

