<p-dialog 
    [(visible)]="visible"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
    header="{{ selectedAuthor ? 'Actualizar Autor' : 'Nuevo Autor'}}"
    (onHide)="closedDialog()"
>
    <div class="card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="flex gap-2 control">
                <div class="p-field field-vertical">
                    <label for="idAutor">ID Autor</label>
                    <input 
                        id="idAutor" 
                        type="text" 
                        pInputText 
                        formControlName="idAutor" 
                        [disabled]="true" 
                        class="p-disabled"/>
                </div>

                <div class="p-field field-vertical">
                    <label for="fechaRegistro">Fecha de registro</label>
                    <input 
                        id="fechaRegistro" 
                        type="text" 
                        pInputText 
                        formControlName="fechaRegistro" 
                        [disabled]="true" 
                        class="p-disabled"
                        />
                </div>
            </div>

            <div class="flex gap-2 control">
                <div class="p-field field-vertical">
                    <label for="nombreCompleto">Nombre Completo</label>
                    <input 
                        id="nombreCompleto" 
                        type="text" 
                        pInputText 
                        formControlName="nombreCompleto"
                        placeholder="Ej. Gabriel García Márquez"
                        autocomplete="off"/>
                </div>
                <div class="p-field field-vertical">
                    <label for="paisOrigen">País de origen</label>
                    <input 
                        id="paisOrigen" 
                        type="text" 
                        pInputText formControlName="paisOrigen" 
                        placeholder="Ej. Colombia"
                        autocomplete="off"/>
                </div>
            </div>

            <div class="p-field field-vertical field-textarea">
                <label for="biografia">Biografía</label>
                <textarea 
                    pInputTextarea 
                    class="descripcion" 
                    id="biografia" 
                    rows="6" 
                    formControlName="biografia"
                    placeholder="Trayectoria, premios e información relevante…"
                    autocomplete="off"></textarea>
            </div>

            @if (formIsInvalid()) {
                <div class="error">
                    <p>El formulario contiene campos inválidos o incompletos. Por favor revisa los datos antes de continuar.</p>
                </div>
            }
            
            <div class="p-dialog-footer flex justify-end gap-2">
                <button pButton type="button" label="Cancelar" class="p-button-secondary" (click)="closedDialog()"></button>
                <button pButton type="submit" label="Guardar" class="p-button-primary"></button>
            </div>
        </form>
    </div>
</p-dialog>