:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAE0C8;
    width: 90%;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(31, 31, 31, 0.245);
    font-family: 'Outfit', sans-serif;
    margin: 2rem auto;
    padding: 1rem;
}

:host .card{
    width: 100%;
}
/*
:host ::ng-deep .p-confirm-dialog .p-dialog-content {
  background-color: var(--color-bg-secondary);
}

:host ::ng-deep .p-confirm-dialog .p-dialog-header {
  background-color: var(--color-bg-primary);
  color: var(--color-bg-secondary);
}

:host ::ng-deep .p-confirm-dialog .p-dialog-footer .p-button {
  border-radius: 8px;
  font-family: 'Outfit', sans-serif;
}
*/