<p-toast position="bottom-right"/>
<p-confirm-dialog/>

<div class="card">
    <p-table
        #dt
        [value]="author"
        [paginator]="true"
        [rows]="10"
        [globalFilterFields]="['ID','nombre', 'apellido', 'paisOrigen']"
    >
    <ng-template #caption>
        <div class="filter flex justify-end p-2">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="dt.filterGlobal(filterInput.value, 'contains')"
                    placeholder="Buscar autor..."
                    #filterInput
                    />
            </span>
            <button
                pButton
                icon="pi pi-plus"
                class="p-button-text p-btn-create"
                (click)="openForm()"
            >Crear nuevo</button>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th>
                ID 
            </th>
            <th pSortableColumn="nombre">
                Nombre <p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th pSortableColumn="apellido">
                Apellido <p-sortIcon field="apellido"></p-sortIcon>
            </th>
            <th pSortableColumn="paisOrigen">
                País de origen <p-sortIcon field="paisOrigen"></p-sortIcon>
            </th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template #body let-author>
        <tr>
            <td>{{ author.idAutor }}</td>
            <td>{{ author.nombre }}</td>
            <td>{{ author.apellido }}</td>
            <td>{{ author.paisOrigen }}</td>
            <td>
            <button 
                pButton 
                icon="pi pi-id-card"
                class="p-button-text"
                (click)="getAuthorsById(author)"
                >
            </button>
            <button
                pButton
                icon="pi pi-pencil"
                class="p-button-text"
                (click)="openForm(author)"
            ></button>
            <button
                pButton
                icon="pi pi-trash"
                class="p-button-text"
                (click)="confirmation($event, author.idAutor)"
            ></button>
            </td>
        </tr>
    </ng-template>
    <ng-template #emptymessage>
        <tr>
            <td colspan="4" class="text-center">No hay autores disponibles, empieza a crear tus autores</td>
        </tr>
    </ng-template>
    </p-table>
    <app-author-form
        [visible]="visibleForm"
        [selectedAuthor]="selectedAuthor"
        (onClosed)="closeDialog()"
    ></app-author-form>
    <app-author-card
        [visible]="visibleCard"
        [selectedAuthor]="selectedAuthor"
        (onClosed)="closeDialog()"
    ></app-author-card>
</div>
