/* --------------------------------------------------
    ESTILOS DE FORMULARIOS
-------------------------------------------------- */

.p-dialog .p-inputtext{
    border-radius: 9px;
    border: 1px solid var(--color-bg-primary);
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-primary);
    font-family: 'Outfit', sans-serif;
    margin: 0;
}

.p-dialog .p-inputtext:hover{
    border: 3px solid var(--color-bg-primary);
}

.p-inputtext.ng-invalid.ng-dirty.ng-touched {
    border:  #902009 3px solid;
    background-color: #e5beb5;
}

.p-dialog .p-disabled {
    background-color: #d8c9a8 !important;
    color: #53585c !important;
    border: 2px solid var(--color-bg-primary);
}

.p-dialog .p-dialog-header {
    color: var(--color-bg-secondary);
}

.p-dialog .p-button {
    margin-top: 1.5rem;
}

.p-dialog .error{
    display: flex;
    justify-content: center;
    height: 80px;
    background-color: var(--color-danger);
    color: var(--color-bg-secondary);
    margin: 0 3.8rem 0 3.8rem;
    border-radius: 9px;
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;
    animation: var(--animation);
}

.p-dialog .p-dialog-footer .p-button-secondary {
    background-color: var(--color-bg-primary);
    color: var(--color-bg-secondary);
    border: none;
}

.p-dialog .p-dialog-footer .p-button-secondary:hover {
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-primary);
    border: 2px solid var(--color-bg-primary);
    transform: scale(1.01);
}

.p-dialog .p-dialog-footer .p-button-primary {
    background-color: var(--color-success);
    color: var(--color-bg-secondary);
    border: none;
}

.p-dialog .p-dialog-footer .p-button-primary:hover {
    background-color: var(--color-bg-secondary);
    color: var(--color-success);
    border: 2px solid var(--color-success);
    transform: scale(1.01);
}

