@import 'styles-tables.css';
@import 'styles-forms.css';

:root{
    --color-bg-primary: #536878;
    --color-bg-secondary: #EAE0C8;
    --color-danger: #902009;
    --color-success: #276b0e;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--color-bg-primary);
    color: #c3b3d8;
    margin: 0;
    padding: 0;
    height: 100%;
}
