* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #536878;
    color: #c3b3d8;
    margin: 0;
    padding: 0;
    height: 100%;
}
