.p-dialog {
    background-color: var(--color-bg-primary);
}

.author-header {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.author-name {
    margin: 0;
    font-size: 1.8rem;       
    font-weight: 600;
}

.card{
    width: 100%;
    padding: 1rem;
    border-radius: 9px;
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-primary);
}

.author-body h3 {
    margin-bottom: 8px;
    font-size: 1.2rem; 
}

.bio {
    line-height: 1.5;
    text-align: justify;
}
